.parent-container {
  width: 100%;
  min-height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #f0eaea, #09c7e944);
}

.container {
  width: 70%;
  /* margin: 40px auto; */
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
}

.form-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 8px;
  width: 150px;
}

button {
  padding: 8px 12px;
  background-color: darkturquoise;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  border-radius: 10px;
  color: white;
  outline: none;
  border: none;
  filter: drop-shadow(-3px 0px 6px rgba(0, 0, 0, 0.1));
}

.table-container {
  max-height: 50vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: lightgray transparent;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}